menu "LIME"

config LIME_MEM
	tristate "LiME integration"
	default m
	help
	  Enable kernel-level memory acquisition on Android System.
	  To compile as a module, choose M here: the
	  module will be called lime.

endmenu
